/* :root {
  --color-warning-x050: #FFFBEA;
  --color-warning-x100: #FFF3C4;
  --color-warning-x200: #FCE588;
  --color-warning-x300: #FADB5F;
  --color-warning-x400: #F7C948;
  --color-warning-x500: #F0B429;
  --color-warning-x600: #DE911D;
  --color-warning-x700: #CB6E17;
  --color-warning-x800: #B44D12;
  --color-warning-x900: #8D2B0B;
  --color-negative-x050: #FFE3E3;
  --color-negative-x100: #FFBDBD;
  --color-negative-x200: #FF9B9B;
  --color-negative-x300: #F86A6A;
  --color-negative-x400: #EF4E4E;
  --color-negative-x500: #E12D39;
  --color-negative-x600: #CF1124;
  --color-negative-x700: #AB091E;
  --color-negative-x800: #8A041A;
  --color-negative-x900: #610316;
  --color-positive-x050: #E3F9E5;
  --color-positive-x100: #C1F2C7;
  --color-positive-x200: #91E697;
  --color-positive-x300: #51CA58;
  --color-positive-x400: #31B237;
  --color-positive-x500: #18981D;
  --color-positive-x600: #0F8613;
  --color-positive-x700: #0E7817;
  --color-positive-x800: #07600E;
  --color-positive-x900: #014807;
  --color-primary-x050: #F0F5F9;
  --color-primary-x100: #bde5ed;
  --color-primary-x200: #8edbe2;
  --color-primary-x300: #6ad8d1;
  --color-primary-x400: #3bccbb;
  --color-primary-x500: #1cc6b2;
  --color-primary-x600: #0daa98;
  --color-primary-x700: #007366;
  --color-primary-x800: #005F55;
  --color-primary-x900: #004E46;
  --color-accent-x050: #D2B6FA;
  --color-accent-x100: #C39EFA;
  --color-accent-x200: #B689FA;
  --color-accent-x300: #A770FA;
  --color-accent-x400: #9452F9;
  --color-accent-x500: #7D2EF7;
  --color-accent-x600: #6826CD;
  --color-accent-x700: #5620A9;
  --color-accent-x800: #471A8C;
  --color-accent-x900: #3B1673;
  --color-neutral-x000: #FFFFFF;
  --color-neutral-x050: #F7F7F7;
  --color-neutral-x100: #E1E1E1;
  --color-neutral-x200: #CFCFCF;
  --color-neutral-x300: #B1B1B1;
  --color-neutral-x400: #9E9E9E;
  --color-neutral-x500: #7E7E7E;
  --color-neutral-x600: #626262;
  --color-neutral-x700: #515151;
  --color-neutral-x800: #3B3B3B;
  --color-neutral-x900: #222222;
  --color-neutral-x999: #111111;

  --bp-xl: 1200px;
  --bp-lg: 992px;
  --bp-md: 768px;
  --bp-sm: 480px;
  --bp-xs: 0px;
} */

html {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex: 1;
  background-color: #F0F5F9;
}

#__next {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  flex-shrink: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 0;
}

main {
  padding: 4rem 2rem;
}

.container {
  width: 992px;
  max-width: 100%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #e6eded;
}

::-webkit-scrollbar-thumb {
  background: #c4cbcb;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b8c3c3;
}